<div class='d-flex flex-column align-items-center justify-content-center w-100 p-2'>
  <a role='button' class='btn btn-primary' id='delete-aggregates-btn'>
    <i aria-hidden='true' class='material-icons align-middle mb-0'><%= Icons::MAT[:delete] %></i>
    <%= t('aggregates.delete.action') %>
  </a>
  <div id='delete-aggregates-response' class='d-none'>
    <i aria-hidden='true' class='material-icons align-middle'></i>
    <span></span>
  </div>
</div>