<div class='row slider slide-in d-flex mt-2'>
  <div class='d-flex flex-wrap tiles-list justify-content-center align-items-center'>
    <%= render 'dashboard/tile', name: 'reports', icon: :reports, visible: 'true' %>
    <%= render 'dashboard/tile', name: 'actions', icon: :actions %>
  </div>
</div>
