<% Statistic.current_levels.keys.reverse_each do |nof| %>
  <% color = level_color(nof) %>
  <a role="button" class="btn btn-<%= color %> btn-secondary"
      data-bs-toggle='tooltip' data-bs-placement='bottom' title="<%= t("statistics.labels.nof_#{nof}") %>">
    <span class="badge badge-<%= color %>">
      <%= @projects_sum[nof] || 0 %>
    </span>
  </a>
<% end %>