<div class="w-100 h-100" id="<%= name %>-content">
  <div class="table-responsive d-flex">
    <div class="flex-grow-1 mt-0 mb-0">
      <table class="table table-hover">
        <%= yield %>
      </table>
    </div>
  </div>
</div>
