/ci/
/coverage/
/docker/
/docs/
/gpg/
/.git/
/kube/
/log/
/node_modules/
/saml/
/spec/
/storage/
/test/
/tmp/
.editorconfig
.erb-lint.yml
.erdconfig
.fasterer.yml
.flayignore
.gitattributes
.gitignore
.pgpass
.reek.yml
.rspec
.rubocop.yml
.simplecov
appmap.yml
pronto.yml
docker-compose*
README.md
rubocop-report.json
vsc_plugins_install.sh
