<p><%= t('matrix42_configs.instance_config.permissions') %></p>
<ul>
  <li>Journal</li>
  <li>Objects</li>
  <li>Ticket</li>
</ul>
<p><%= t('matrix42_configs.instance_config.user_role') %></p>
<p>
  <%= t('matrix42_configs.instance_config.api_token') %>
  <a href="https://help.matrix42.com/030_DWP/030_INT/Business_Processes_and_API_Integrations/Web_Services_tokens%3A_Generate_API_Token">
    https://help.matrix42.com/
  </a>
</p>
<p><%= t('matrix42_configs.instance_config.api_url') %></p>
