<button type="button" class="btn btn-sm p-1 btn-secondary btn-clip d-flex align-items-center" data-clipboard-target="#<%= target_id %>" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="<%= t('clipboard.copy_to_clipboard') %>">
  <i aria-hidden='true' class="material-icons align-middle" alt="Copy to clipboard"><%= Icons::MAT[:copy] %></i>
</button>
