<li data-bs-toggle='tooltip' title='<%= t("aggregates.#{action}.header") %>' class='list-group-item bg-secondary d-flex align-items-center justify-content-center'>
  <i class='material-icons align-middle' aria-hidden='true'><%= Icons::MAT[aggregate_action_icon(action)] %></i>
</li>