<div class='d-flex flex-column align-items-center justify-content-center notification_configuration-col' data-bs-toggle='tooltip' title='<%= t('user_profile.notifications.by_mail') %>'>
  <i class='material-icons align-middle' aria-hidden='true'><%= Icons::MAT[:send] %></i>
  <%- send_mail_on_all_checked = Set.new(current_user.send_mail_on.filter(&:present?)) == Set.new(Notification.subjects.keys) %>
  <input type='checkbox' name='user[send_mail_on][]' value='' checked class='d-none'>
  <div class='form-check form-switch ms-1'>
    <input type="checkbox" data-action="checker#checkAll" data-source="check-all-send-mail" id="check-all-send-mail" class='form-check-input' <%= send_mail_on_all_checked ? 'checked' : '' %>>
    <label class="form-check-label" for='check-all-send-mail'></label>
  </div>
</div>