<div class='m-1'>
  <%= render 'projects/list', projects: [@project], trashed: false %>
  <div>
    <%= link_to(t('labels.show'), actions_path + '?q[aggregate_report_project_id_eq]=' + @project.id, class: 'btn btn-primary') %>
  </div>
</div>