<%= render 'partials/card_bloc', clazz: '', title: t("vulnerabilities.labels.cve") do %>
  <% cves = @vulnerability.cve_id %>
  <% unless cves.blank? %>
    <ul>
      <% cves.each do |cve_id| %>
        <li>
          <%= link_to cve_id, "https://cve.mitre.org/cgi-bin/cvename.cgi?name=#{cve_id}", target: '_blank', ref: 'noopener noreferrer', rel: 'noopener' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <em class="text-muted"><%= t('labels.none') %></em>
  <% end %>
<% end %>
