<div class='d-flex flex-column align-items-center justify-content-center m-1 p-1'>
  <% layout = vuln_label == :pci_flag ? 'pci' : vuln_label %>
  <%= render layout.to_s %>
  <% flag = @vulnerability.send(vuln_label) %>
  <% status = flag.zero? ? :ko : :ok %>
  <%- data = bool_data(flag.positive?) %>
  <%= render 'partials/tooltiped_icon', icon: data[:icon], clazz: "text-#{data[:color]}", title: t("#{status}") %>
</div>
