// $csis_dark: #444444;
// $csis_blue: #e37945;
// $csis_blue_hover: #E36426;
$csis_grey: #5E6B76;
$csis_gray: #EEEEEE;
// $csis_tab: #efc6a1;

// Rebranding
$csis_dark: #282828;
$csis_blue: #4688A2;
$quarter_transparency_csis_blue: rgba(69, 135, 161, 0.25);
$csis_blue_hover: #032F40;
$csis_tab: #F1F8FE;
$light_blue: #e1ebee;

$logo_blue_1: #005673;
$logo_blue_2: #023242;
$logo_red_1: #bd202e;
$logo_red_2: #9f1b26;

// $scan_system: #BBFDFE;
$scan_system: #8af5f7;
// $scan_system: #0beef1;
// $scan_applicative: #BDFB50;
$scan_applicative: #b3f73f;

$critical: #DB2619;
$high: #FF5C1C;
$medium: #FFCC00;
$low: #FCE6A3;
$trivial: #639139;

$scan: #00730b;
$pentest: #150c73;

$card_login: rgba(0,0,0,0.6);

$bg-csis: #F1F8FE;
// $bg-csis: #F7F1F1;
