<p><%= t('devise.mailer.password_change.greeting', recipient: User.find_by(email: @resource.email).full_name) %></p>

<p><%= t('devise.mailer.password_change.message') %></p>
<p><%= I18n.t('mailer.content.polite') %></p>
