<div class='loader-container'>
  <span class='spin-two'></span>
  <span class='spin-one'></span>
  <%= image_tag('logos/csis_logo_only.png', class: "d-inline-block align-middle", height: '30px', alt: "Logo CSIS") %>
</div>
