<h6 class="dropdown-header bg-secondary text-white">
  <% if nav[:logo].present? %>
    <%= image_tag("logos/#{nav[:logo]}", class: "material-icons align-middle md-24", height: '24px') %>
  <% else %>
    <i aria-hidden='true' class="material-icons left i_scale align-middle"><%= nav[:icon] %></i>
  <% end %>
    <%= t("menu.headers.#{nav[:title]}") %>
</h6>
