<header class="section-breadcrumbs d-flex justify-content-between bg-gray_l">
  <div class="p-0">
    <ul class="p-0 m-0 slider slide-in" id="breadcrumb">
      <%= render_breadcrumbs tag: :li, separator: '', builder: CustomBuilder %>
    </ul>
  </div>
</header>
